<div class="page-header">
  <h1>Wine Clubs
    <% if current_user.manager? %>
      <small>for <%= current_user.fullname %></small>
    <% end %>
  </h1>
</div>

<%= render partial: "shared/list_bar", locals: {filters: ["winery","club"], new_path: new_club_path, page: "clubs"} %>

<div id="club_items" class="list-group" />
