<div class="page-header">
  <h1>Memberships</h1>
</div>

<%= render partial: "shared/list_bar", locals: {page: "memberships", new_path: new_membership_path} %>

<div id="memberships_list" class="list-group" />
