<div class="jumbotron">
  <h1>Welcome Wine Lover!</h1>
  <p>The <strong>Wine Club Companion</strong> is here to help you get the most out of your wine club experience. </p>
  <button class="btn btn-primary btn-lg">Learn More</button>
</div>
