<div class="panel panel-default">
  <div class="panel-body">
    <h4>Begin by submitting your email so that we can find your wine clubs</h4>
    <%= form_for @user, as: :user, url: welcome_search_path(@user) do |f| %>
      <div class="form-group form-group-lg">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="form-group form-group-lg">
        <%= f.submit "Find My Clubs!", class: "btn btn-primary btn-lg" %>
        <%= link_to "Member Login", new_user_session_path, class: "btn btn-default btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
