<div class="page-header">
  <h1>Wineries</h1>
</div>

<%= render partial: "shared/list_bar", locals: {page: "wineries", new_path: new_winery_path} %>

<div id="wineries_list" class="list-group"></div>
