<div class="page-header">
  <h1>Accounts</h1>
</div>

<%= render partial: "shared/list_bar", locals: {filters: ["winery","manager"], new_path: new_account_path, page: "accounts"} %>

<div id="account_items" class="list-group">

</div>
